.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    padding: 15px 0;
    cursor: pointer;
    letter-spacing: 0.5px;
    transition: 0.3s ease-in;
    user-select: none;

    &:hover {
        cursor: pointer;
        transform: scale(0.98);
    }
}

.btn-secondary1 {
    border: 2px solid #cdcfd2;
    color: #cdcfd2;
    background-color: transparent;
    box-shadow: 0 4px 4px 0 #00000025;
}

.btn-secondary2 {
    border: 2px solid #cdcfd2;
    color: #1d1125;
    box-shadow: inset 0 4px 4px 0 #00000025;
}

.btn-secondary3 {
    border: 2px solid #1d1125;
    color: #1d1125;
}

.btn-primary {
    background-color: #1d1125;
    color: white;
}

button:disabled,
button[disabled] {
    background-color: #535353;
}
