@import "../../../Utilities/variables";

.booking-body {
    min-width: 676px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    // transform: translate(0, -20%);

    .book-title {
        width: fit-content;
    }

    .book-details {
        margin-top: 40px;
        width: 70%;

        .book-button {
            margin-top: 35px;
        }
    }
}

.center-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 970px) {
    .booking-body {
        padding-top: 50px;
        min-width: 0;

        .book-details {
            width: 90%;
        }
    }
}
