@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;800&display=swap");

.mid {
    width: 80%;
    /* background-color: yellow; */
    margin: auto;

    /* height: 60vh; */
    /* max-height: 260px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 55vh; */
    row-gap: 30px;
    padding-top: 50px;
}
.table {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    /* justify-content: space-around; */
}
.list {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around;
    height: 30vh; */
    row-gap: 20px;
    /* background-color: #1B9226; */
}
.list #l {
    background: #ffffff;
    padding: 12px 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
    padding: 8px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    transition: 0.1s ease-in;
}
.list #l:hover {
    border: 2px solid #1b9226;
}

.k {
    width: 22%;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 35px;
    text-align: center;
    /* or 200% */

    color: #000000;
}

.bg {
    background-color: #c4c4c4;
    border-radius: 5px;
}
.s {
    /* background-color: aqua; */
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    width: 22%;
    line-height: 35px;
    text-align: center;
}
.y {
    width: 12%;
    /* background-color: black; */
}
.j {
    width: 12%;
    /* background-color: black; */
    padding-left: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.r {
    width: 15px;
    height: 15px;
}
input[name="radio"] {
    accent-color: rgb(175, 114, 0);
}
.shipLogo {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 35px;
    color: #d70c0c;
    padding: 5px 20px;
}
.contact {
    border: 1px solid #ffffff;
    color: #ffffff;
    background-color: #1d1125;
    border-radius: 10px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    padding: 5px 25px;
}
:root {
    font-size: 20px;
}

.title {
    width: 100%;
    /* background-color: #1B9226; */
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    /* background-color: #1B9226; */
    line-height: 60px;
    /* identical to box height */
    letter-spacing: 0.01em;
    color: #303030;
    margin-bottom: 20px;
}
.b {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* background-color: bisque; */
}
.book {
    background: #1d1125;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: #ffffff;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.03em;
    padding: 5px 30px;
    cursor: pointer;
}

.ank {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    /* font-size: 62px; */
    line-height: 105px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.01em;

    color: #000000;
}

.ank1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    /* font-size: 23.5973px; */
    line-height: 35px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #000000;
}

.nain {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fm {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
